body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  margin-top: 15em;
  background: linear-gradient(40deg,#db2777, #f9a8d4,#1d4ed8,#e11d48);
}

/* Add this CSS to your App.css file */

.big {
  width: 300px;
  margin: 20px;
  display: flex;
  border-radius: 19px;
}
.big img{
  margin-top: 2em;
  height: 19em;
}
.big:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.greeting {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

.greeting img {
  width: 60px; /* Adjust as needed */
  height: 70px; /* Adjust as needed */
}

input[type="text"] {
  width: 60%;
  padding: 20px;
  margin: 30px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Style the Card components */
.card {
  border: none;
  border-radius: 19px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-text h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.card-body {
  padding: 20px;
}

.btn-primary {
  margin-top: 10px;
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #93c5fd;
}

/* You can add more styles as needed */